header{
  border-bottom: 1px solid black;
}
.coffee_menu{
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.coffee_menu h4{
  margin-bottom: 25%;
}
.coffee_menu p{
  margin-top: 10%;
  margin-bottom: 40%;
  font-family: cursive;
}
