header{
  border-bottom: 1px solid black;
}
.detail_menu{
  text-align: center;
}
.detail_menu h4{
  margin-top: 0;
  margin-bottom: 10%;
  padding-top: 5%;
}
img{
  display: block;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.detail_list img{
  margin-top: 10%;
}
.detail_list div{
  margin-bottom: 15%;
}
.detail_list{
  text-align: center;
  font-family: cursive;
}
.detail_list span{
  display: block;
  margin-top: 5%;
}
/************************************************************
메뉴 안 네비게이션
************************************************************/
.m_nav_nav *{
  margin: 0;
}
.m_nav_nav{
    background-color: #FFFAF0;
    text-align: center;
    padding: 20px 10px;
}
.m_nav_nav p{
  padding: 1em;
}
.m_nav_nav ul{
  list-style: none;
  padding: 0;
  border: 1px solid #bfbfbf;
  border-bottom: none;
  background-color: white;
}
.m_nav_nav ul li{
  padding: 0.8em;
  border-bottom: 1px solid #bfbfbf;
}
.m_nav_nav a{
  text-decoration: none;
  color: black;
  display: block;
}
